NODE_ENV=

# Backoffice
BACKOFFICE_HOST=
BACKOFFICE_API_KEY=

# Web
FE_APP_HOST=http://localhost:5173

# General
PORT=8090
WORLD_NAME=

# Database
GAME_DB_HOST=
GAME_DB_PORT=
GAME_DB_DATABASE=
GAME_DB_USERNAME=
GAME_DB_PASSWORD=

# Redis
GAME_REDIS_HOST=
GAME_REDIS_PORT=
GAME_REDIS_PASSWORD=
